ClientConsoleEvents/Connected Services/VelibServiceReference/VelibService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubscribeStationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refreshingTime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeStationDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Calculated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="station" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nbVelib" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>